<p>Один из самых <a href="http://antropogenez.ru/species/1/">хорошо изученных</a> видов австралопитеков, с десятками находок, включающих не только отдельные кости, но и черепа, и полные скелеты.
        
<p>Ноги афарских австралопитеков чрезвычайно похожи на человеческие: например, большой палец уже прилежит к остальным, что особенно хорошо видно на сохранившихся окаменелых следах, оставленных в вулканической грязи.</p>

<p>Однако, тело австралопитека по высоте снизу вверх теряет человечность, и физиономия его уже совершенно обезьянья. Вместе с тем, за ужасным на лицо фасадом заметен прогресс: афарские австралопитеки резко нарастили объём мозга.</p>
