<p>Австралопитеки (с латыни - <em>южные обезьяны</em>) – это <a href="http://antropogenez.ru/zveno-single/53/">большая группа</a> древних африканских обезьян, родственная нам.</p>

<p>Анамский австралопитек, как и его предки, прогуливался на двух ногах по африканским лесам и саваннам.</p>

<p>Однако, некоторые особенности строения локтевой кости указывают также на приспособленность к ходьбе на четвереньках, с опорой на <a href="antropogenez.ru/species/11/">согнутые пальцы рук</a>.</p>

<p>Может быть, какая-нибудь из популяций пыталась вернуться к истокам и заветам предков? Во всяком случае, сделать это не удалось, в чём читатель может убедиться самостоятельно, попытавшись прогуляться по-анамски.</p>