<p>Ардипитеки <a href="http://antropogenez.ru/zveno-single/57/">продолжали совершенствоваться в прямохождении</a>. Теперь о нём говорит не только затылочное отверстие, но и строение таза, ставшее гораздо ближе к человеческому.</p>

<p>Конечности всё ещё сохраняли свою обезьянью форму, непригодную для изготовления орудий и мелкой моторики, но как раз такую, какая нужна, чтоб висеть на ветках, — это говорит о том, что ардипитеки всё ещё проводили на деревьях много времени.</p>

<p>Что касается объёма мозга, то в сравнении с сахелянтропами ардипитеки не продвинулись заметно вперёд.</p>