<p><em>Homo Erectus</em> получил своё название раньше, чем учёным стало известно, что прямохождение появилось задолго до него. К этому виду принадлежала вообще первая находка предка человека, <a href="http://antropogenez.ru/personnel/1/">сделанная Эженом Дюбуа</a> в 1894 году и названная <em>питекантропом</em>. Иногда эректусов и сейчас так называют.

<p>Достижения их впечатляющи:

<ul>
    <li>расселение по Европе и Азии, от Испании на западе до Индонезии на юге;
    <li><a href="http://antropogenez.ru/zveno-single/151/">дальнейший рост мозга</a>, почти уже до современных значений;
    <li>изобретение ашельской культуры каменных орудий.
</ul>

<p><em>Homo erectus</em> существовал на планете в течение более чем миллиона лет. Наш с вами вид насчитывает в пять раз меньше. Если мы решим учинить мировую войну или ещё какое-нибудь глобальное безобразие, великие эректусы прошлого будут с неодобрением смотреть на нас со звёзд.

<p>Может быть, они даже выскажут какие-нибудь мудрые мысли по сему грустному поводу. Внутренний рельеф черепов даёт основания предполагать, что за миллион лет существования эректусы смогли выработать если не <strong>членораздельную речь</strong>, то что-то к ней близкое.