<p>Благодаря множеству находок по Восточной и Южной Африке этот вид <a href="http://antropogenez.ru/species/2/">хорошо изучен</a> и нам известно, что ему было чем гордиться:</p>

<ul>
    <li>изобретение олдувайской культуры изготовления каменных орудий;</li>
    <li>рост доли мяса в питании;</li>
    <li>резкий рост объёма мозга.</li>
</ul>

<p>Учёные посчитали это <a href="http://antropogenez.ru/zveno-single/18/">достаточным</a>, чтобы назвать нового предка <strong>человеком</strong>, а не ещё какой-нибудь разновидностью сообразительных африканских обезьян.</p>
