<p class="lead">Сочиняя сказки и мифы, люди раскрашивали их силами своего воображения.</p>

<p class="lead">Однако, около 150 лет назад вопросом происхождения человеческих существ всерьёз занялась наука. Учёные решили разъяснить эту тёмную историю, опираясь, подобно мистеру Шерлоку Холмсу, на факты и дедуктивный метод.</p>

<p class="lead">И оказалось, что улики при желании вполне можно найти. Наши предки не исчезли бесследно: они оставили кости, орудия, объедки, остатки жилищ, святилищ, могил, свалок и много чего ещё. Внимательно изучая всё это, можно сделать выводы о том, как они жили, чем питались, как защищались от хищников, и даже — может быть — о чём беседовали вечером у костра.</p>

<p class="lead">К сему дню удалось найти и выяснить так много, что для полноценного знакомства потребовалось бы заточить вас, дорогой читатель, лет на пять в стенах биологического факультета. Но вы вряд ли располагаете достаточным для этого временем, а мы слишком гуманны, чтобы без веских оснований отдавать вас на растерзание строгим профессорам.</p>

<p class="lead">Поэтому мы лишь перечислим некоторые моменты, показавшиеся нам интересными, и снабдим их ссылками на видео, статьи и книги, чтоб вы могли выбрать вас интересующее и на досуге удовлетворить свою любознательность.</p>