<p>Около 70 тыс лет назад населявших Европу гейдельбергских людей встретил ледниковый период.

<p>Тяжёлые условия жизни в течение многих поколений повлияли на их облик настолько сильно, что с некоторого момента их стали выделять в новый вид — <a href="http://antropogenez.ru/species/4/">неандертальцев</a>, названный по первой находке во французской долине Неандерталь.

<p>Неандертальцы питались почти исключительно мясом, охотясь на крупных животных (по каковой причине на них лежит подозрение в уничтожении мамонтовой фауны). Интересно, что мозг неандертальцев был существенно крупнее, чем в среднем у нас с вами. Они свободно владели огнём, совершали погребения, пользовались речью (хотя характер её мы, конечно же, не узнаем).

<p>Но в целом о неандертальцах мы знаем много, потому что удалось полностью прочесть их генетический код. Поэтому возможность когда-нибудь создать живого неандертальца — это лишь вопрос развития биотехнологий. Что относится также к мамонтам, шерстистым носорогам и другим существам той эпохи, исчезнувшим с лица Земли, но способным вернуться на неё благодаря силе нашего разума.

<p>Кстати, о разуме.