<p>Не изменяя традициям, начнём наше с вами путешествие с проконсула — древней, давно вымершей обезьяны, которая <a title="Ископаемые обезьяны" href="http://antropogenez.ru/zveno-single/51/">по современным представлениям</a> является общим предком людей и человекообразных обезьян: шимпанзе, горилл и орангутанов. На самом деле, утверждать этого наверняка нельзя, поскольку требуется больше находок и мнения исследователей расходятся, — но если предком был не проконсул, то кто-то на него весьма похожий.</p>

<p>Проконсул был типичной обезьяной, каких в то время было много. Он обитал на деревьях и был прекрасно приспособлен к древесной жизни: хватался за ветки всеми четырьмя конечностями и превосходно прыгал. Питался фруктами, листвой и насекомыми.</p>

<p>А ещё — не имел хвоста.</p>