<p>Это самоназвание нашего вида было придумано шведским учёным Карлом Линнеем, чем он подчеркнул наше главное отличие от других живых существ, которым мы так гордимся.

<p><em>Homo sapiens</em> <a href="http://antropogenez.ru/zveno-single/67/">появились в Африке</a>, происходя от той части <em>Homo heidelbergensis</em>, которые не пошли в Европу. Около <em>100 тыс. лет назад</em> появляются находки, которые по всем параметрам анатомии похожи на нас с вами.

<p>Показав умение приспосабливаться к разным условиям, этот вид достаточно быстро заселил Европу, Азию, Индонезию и Австралию, а затем и Новый свет, попав туда через Берингов перешеек, в те времена бывший сушей.

<p>Ну а через недолгое по меркам эволюции время <em>sapiens</em> изобрели земледелие, скотоводство, приручили собак и котиков, стали изучать природу и самих себя, придумали математику, музыку, архитектуру и кодексы о наказаниях.

<p>Да, не все изобретения человеческого разума оказались для него приятны, тут уж ничего не поделать.